* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #a56c2a, #774915);
    display: grid;
    align-items: center;
    justify-content: center;
}

.case {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #00000017;
    border-radius: 10px;
    gap: 2vh;
    border-top: 7px solid #a87439;
    border-left: 7px solid #a87439;
    border-right: 7px solid #5a3811;
    border-bottom: 7px solid #5a3811;
    background: radial-gradient(#a56c2a, #70400a);  

    .view {
        position: relative;
        height: 10vh;
        padding: 10px;
        background: #0000001c;
        box-shadow: 0 0 10px 2px #00000046;
        border-radius: 10px;
        border-bottom: 10px solid #a87439;
        border-right: 10px solid #a87439;
        border-left: 10px solid #5a3811;
        border-top: 10px solid #5a3811;
        text-align: right;
        overflow: hidden;

        .calcBox {
            font-size: 1.3rem;
        }

        .calcRes {
            font-size: 1rem;
        }
    }

    .view::after {
        position: absolute;
        content: '';
        top: -10px;
        left: -10px;
        border-radius: inherit;
        width: calc(100% + 20px);
        height: inherit;
        background: #00000049;
        backdrop-filter: sepia(30%);
    }

    .buttons {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2vh;
        gap: 1vh;
        border-radius: 10px;

        button {
            cursor: pointer;
            width: 9vh;
            height: 7vh;
            background: radial-gradient(#754916, #815523);
            border: none;
            border-radius: 10px;
            font-size: 1.2rem;
            border-top: 10px solid #a87439;
            border-left: 10px solid #a87439;
            border-right: 10px solid #5a3811;
            border-bottom: 10px solid #5a3811;
            color: #eee;
            transition: .3s;
        }

        button.igual, button.limpar {
            width: 20vh;
            grid-column: span 2;
        }

        button:hover {
            border-bottom: 10px solid #a87439;
            border-right: 10px solid #a87439;
            border-left: 10px solid #5a3811;
            border-top: 10px solid #5a3811;
        }
    }
}

@media (max-width: 360px) {
    .case { 
        .view {
            height: 12vh;
            padding: 2vh;
            background: #0000001c;
            box-shadow: 0 0 5px 2px #00000046;
            border-radius: 5px;
            border-bottom: 5px solid #a87439;
            border-right: 5px solid #a87439;
            border-left: 5px solid #5a3811;
            border-top: 5px solid #5a3811;
        }
    
        .view::after {
            top: -5px;
            left: -5px;
            width: calc(100% + 10px);
        }
    
        .buttons {
            padding: 1vh;
            gap: 0vh;
    
            button {
                width: 7vh;
                height: 7vh;
                border-top: 5px solid #a87439;
                border-left: 5px solid #a87439;
                border-right: 5px solid #5a3811;
                border-bottom: 5px solid #5a3811;
                color: #eee;
            }
    
            button.igual, button.limpar {
                width: 15vh;
            }
    
            button:hover {
                border-bottom: 5px solid #a87439;
                border-right: 5px solid #a87439;
                border-left: 5px solid #5a3811;
                border-top: 5px solid #5a3811;
            }
        }
    }
}